<h2>Hello world</h2>
<div>
    First name: {{person1.firstName}}
    Last name: {{person1.lastName}}
</div>
</br>
<div>
    First name: {{person2.firstName}}
    Last name: {{person2.lastName}}
</div>